{% extends 'base.html' %}

{% block layout %}
    <!-- Public Header Component -->
    {% include 'components/navbar.html' %}

    <!-- Main Public Content Viewport -->
    <main class="{% block main_class %}flex-grow{% endblock %}">
        {% block content %}{% endblock %}
    </main>

    <!-- Public Institutional Footer Component -->
    {% block footer %}
    {% include 'components/footer.html' %}
    {% endblock %}

    <!-- Global Dual-Tab Authentication & Demo Modal -->
    {% include 'components/auth_modal.html' %}

    <!-- Slide-Over Asset & Proximity Intelligence Drawer -->
    {% include 'components/asset_drawer.html' %}

    <!-- Slide-Out Buyer Favorites Drawer -->
    {% include 'components/favorites_drawer.html' %}
    
    <!-- Compare Modal -->
    {% include 'components/compare_modal.html' %}
    
    <!-- Analytics Panel -->
    {% include 'components/analytics_panel.html' %}

    <!-- Slide-Out Buyer Saved Searches Drawer -->
    {% include 'components/saved_searches_drawer.html' %}
{% endblock %}
